#main{
    display: flex;
}
#bmw1{
    width: 200px;
    height: 200px;
}
#car2{
    width: 200px;
    height: 200px;
}
#car3{
    width: 200px;
    height: 200px;
}
.taxi{
    margin-right: 100px;
    padding: 20px;
}